{% autoescape None %}
{% include header.html %}
<article>
<form id="login" method="POST" action="/login">
{% if errors %}
<div id="errors">
<p>The following error(s) occurred whilst attempting login:</p>
<ul>
{% for e in errors %}
<li>{{ e }}</li>
{% end for %}
</ul>
</div>
{% end if %}
<table>
<tr><td><label for="username">Username</label>:</td><td><input name="username" type="text" placeholder="Enter Username" autocomplete="off" autofocus="autofocus" /></td></tr>
<tr><td><label for="password">Password</label>:</td><td><input name="password" type="password" placeholder="Enter Password" autocomplete="off" /></td></tr>
<tr><td><a href="/register">Register</a></td><td><input type="submit" value="Login" /></td></tr>
</table>
</form>
</article>
{% include footer.html %}